body {
    font-family: Arial;
}
.profile {
    width: 1280px;
    margin: 0 auto;
}

.section {
    padding: 50px;
}

.title {
    color: #445161;
    font-size: 30px;
    margin-bottom: 30px;
}
.title_center {
    text-align: center;
}

/* --------- Section main  ------------- */

.section_black {
    background-color: #445162;
}
.main_section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.section__img {
    width: 40%;
}

.main-articles_white {
    color: white;
}

.main-article__title {
    font-size: 60px;
    margin-bottom: 50px;
}

.main-article__list {
    font-size: 20px;
}

.main-article__item {
    margin-bottom: 10px;
}

.main-article__item::before {
    content: url('../assets/check_icon.png');
    margin-right: 10px;
}
/* --------- Section "About"  ------------- */

.section-about {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 340px;
}

.about-article{
    margin-right: 100px;
}

/* .about-article__title {
    color: #445161;
    font-size: 30px;
    margin-bottom: 30px;
} */

.about-article__text{
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;

}
  
.about__img {
    background-color: rgb(68, 81, 97);
    width: 430px;
    height: 245px;
  }
  
  /* ----  Section "Dignity" ------ */

  .section-dignity {
      height: 420px;
      background-color: #f5f5f5;

  }
  
.dignity-article {
    display: flex;
}

.dignity-article__list{
   font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.5;
    text-align: left;

}

.dignity-article__item{
  margin-bottom: 35px;
}
  
.dignity-article__item {
    background: url('../assets/icon_pluse.png') no-repeat 0 4px; /* Параметры фона для макера списка */
    padding-left: 30px; /* Смещаем текст вправо */

    /* background-color: #445161; */
    /* content: url('../assets/icon_pluse.png');
        width: 20px;
    height: 20px;  
    margin-right: 10px; */
}

 /* --- Section "Scrinshots" ----- */

 .section-scrinshots {
     height: 490px;
 }

 .scrinshots-article{
     display: flex;
 }

 .scrinshots-article__row {
    display: flex;
    margin-bottom: 30px;
}
 .scrinshots-article__imge {
    /* background-color: rgb(68, 81, 97); */
    width: 200px;
    height: 150px;
  }
  
  .scrinshots-article__description{
      margin: 0 15px;
  }

  .scrinshots-article__title {
    font-size: 24px;
    color: #445161;
    margin-bottom: 16px;  
  }

  .scrinshots-article__text {
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.5;
    text-align: left;
  }
  
  /* ------- Section Reviews --------*/

  .section-reviews {
      height: 425px;
      background-color: #f5f5f5;
  }

  .reviews-article {
      display: flex;
      flex-flow: row;
    justify-content: space-between;
  }

  .reviews-article__row{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
  }

  .reviews__description {
    background-color: #ebebeb;
    margin-left: 30px;
    padding: 15px;
    width: 470px;
  }

  .reviews__round-img {
    width: 75px;
    height: 75px;    
    border-radius: 50%;
    background-color: rgb(68, 81, 97);

  }
  
.reviews__text {
    font-size: 14px;
    color: #333333;
    line-height: 1.286;
}

.reviews__text_italic {
    font-style: italic;
}

.reviews__text_signature {
    color: #989898;
    margin-top: 15px;
}

  